@import "../../index.css";

.new-account-link-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .new-account-link {
    color: var(--senary-color);
    text-align: center;
  }
}
