.chat-bot-input-field-container {
    display: flex;
    justify-content: space-between;
    background-color: #E8F1F2;
    border-radius: 10px;
    padding: 4px !important;
    padding-left: 15px !important;

    .chat-bot-input-icon:hover {
        color: rgb(81, 89, 204);
      }
}