.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .chat-messages-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    color: var(--secondary-color);

    .chat-message {
      margin-bottom: 10px;
    }

    .user {
      align-self: flex-end;
      color: var(--secondary-color);
      padding: 5px;
      border-radius: 5px;
    }

    .bot {
      align-self: flex-start;
      color: var(--secondary-color);
      padding: 5px;
      border-radius: 5px;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 2s steps(30, end) forwards, blinking 1s infinite;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
  100% {
    border-right-color: transparent;
  }
}
