@import "../../index.css";

.new-user-form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 16px !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--secondary-color) !important;

  .form-title {
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px;
  }
}

.form-section {
  margin-bottom: 16px;
  .grid-item-row {
    padding-top: 0px !important;
  }
}

@media (max-width: 768px) {
  .new-user-form {
    padding: 32px;
    font-size: 5px;

    .form-title {
      font-size: 1rem;
    }
  }
}
