@import "../../index.css";

.menu-settings-button-icon {
  font-size: 2rem;
  color: var(--quaternary-color);
}

.menu-drawer-paper {
  background-color: var(--primary-color) !important;

  .manu-app-title {
    color: var(--secondary-color);
    font-weight: bold;
    padding-top: 20px;
  }
}

.menu-list-container {
  width: 275px !important;

  .menu-item-button {
    .menu-item-text {
      color: var(--senary-color);
      font-weight: bold !important;
    }

    .menu-item-icon {
      font-weight: bold !important;
      padding-left: 20px;
      color: var(--senary-color);
    }
  }

  .menu-item-button:hover {
    background-color: var(--quinary-color) !important;
  }
}
